table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
   border: 2px solid black;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {background-color: #f2f2f2}

tr:hover {background-color: #ADD8E6}

body {
	background-color:lightsteelblue;
	}  
p {
	font:bold 18px arial;
	}  
